.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-input {
    margin: 2rem 0;
    border-radius: 5px;
}